.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}
.form div {
  display: flex;
  flex-direction: column;
}

.input {
  padding-left: 5px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.button {
  background: #5386a1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  background: #456492;
}